---
# Allman braces, 2 spaces and 100 columns, as in the rest of the workspace
BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -2
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: false
DerivePointerAlignment: false
PointerAlignment: Left
IndentCaseLabels: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SortIncludes: Never
SpacesBeforeTrailingComments: 2
Standard: c++17
...
